<template>
  <div class="p-10 overflow-x-auto shadow-md sm:rounded-lg">
    <div class="inline-block min-w-full align-middle">
      <div class="overflow-hidden">
        <table class="border-separate border border-slate-400 ...">
          <thead class="bg-gray-100 dark:bg-gray-700">
            <tr>
              <th
                v-for="(column, index) in columns"
                :key="index"
                scope="col"
                class="
                  px-6
                  py-3
                  text-left text-xs
                  font-medium
                  text-gray-500
                  uppercase
                  tracking-wider
                "
              >
                {{ column.label }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              :class="index % 2 === 0 ? 'bg-white' : 'bg-gray-50'"
              v-for="(row, index) in data"
              :key="index"
              @click.stop="$emit('onRowClick', { index, row })"
            >
              <td v-for="(column, index) in columns" :key="index">
                <slot
                  v-if="$slots['body-cell-' + column.field]"
                  :name="'body-cell-' + column.field"
                  :row="row"
                />
                <span
                  class="px-6 py-4 whitespace-nowrap text-sm font-medium"
                  v-else
                >
                  {{ row[column.field] }}</span
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
const props = defineProps<{
  columns: [];
  data: [];
}>();
const emit = defineEmits(["onRowClick"]);
</script>