<template>
  <my-table :columns="columns" :data="data" @onRowClick="onRowClick">
    <!-- <template #body-cell-id="props">
      <h1>{{ props.row.id }}</h1>
    </template> -->
  </my-table>
</template>


<script lang="ts" setup>
import MyTable from "./components/DataTable.vue";
const columns = [
  { field: "id", label: "Id" },
  { field: "firstName", label: "First Name" },
  { field: "lastName", label: "Last Name" },
  { field: "email", label: "Email" },
];

const data = [
  { id: 1, firstName: "lamda 1", lastName: "beta 1", email: "lamda1@beta.com" },
  { id: 2, firstName: "lamda 2", lastName: "beta 2", email: "lamda1@beta.com" },
  { id: 3, firstName: "lamda 3", lastName: "beta 3", email: "lamda1@beta.com" },
  { id: 4, firstName: "lamda 4", lastName: "beta 4", email: "lamda1@beta.com" },
];

function onRowClick(event: unknown) {
  console.log(event);
  // { index: 3, row: {}};
}
</script>